# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test coverage
coverage/

# nest
.nest/
